

.four.col-4-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.four .cols {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-between;
  /* background: rgb(218, 218, 218); */
}

.four .col {
  background: rgb(218, 218, 218);
  width: 23.3%;
  /* flex-grow: 1; */
  height: 400px;
}

.four .col:last-child {
  margin: 0;
}

.four h2.title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 6rem;
}
.four .heart{
  font-size: 2.2rem;
  padding: 1rem;
  color: rgb(24, 132, 255);
}




@media screen and (max-width: 413px) {

 
}

@media screen and (max-width: 767px) {
  .four .col {
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .four .col {
    width: 48%;
    margin-bottom: 3rem;
  }
}